.hs{
    display: flex;
    justify-content: space-between;
}
.hs1{
    border-style: solid;
}

.hs2{
    border-style: solid;
}

.ts{
    display: flex;
    justify-content: space-around;
    border-style: solid;
    position:relative;
    margin: 20px 0;
}

.lip{
    border-style: solid;
    position: relative;
    font-size: 32px;
    text-align: center;
    margin: 20px 150px;
}

.icons{
    display: flex;
    justify-content: space-between;
    margin:10px 150px;
}

#centerimg{
    display: block;
    margin: auto;
    width: 1150px;
}

.bottom_info{
    border-style: solid;
    display: flex;
    justify-content: space-between;
    margin: 20px 150px;
    font-size: 22px;
}

.contactinfo{
    text-align: right;
    margin-top: 100px;
    font-size: 22px;
}

#bottomlogo{
    padding: 10;
    border-style: solid;
    float: left;
}

.lorem_ipsum_text{
    margin: 20px 150px;
}